<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>


<body>
<%- include('./partials/nav.ejs') %>

<% if (dogs.length > 0) { %>

    <% dogs.forEach(dog =>{ %>
        <a href="/dogs/<%= dog._id %>">
            <h4><%= dog.title %></h4>
            <h1><%= dog.name %></h1>
            <p><%= dog.desc %></p>
        </a>
    <% }) %>
<% } else { %>

    <p> sorry no dogs</p>
<% } %>
<%- include('./partials/footer.ejs') %>

</body>
</html>
