<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>


<body>
<%- include('./partials/nav.ejs') %>


<div class="container">

    <% if (dogs.length > 0) { %>

    <div class="row">
        <% dogs.forEach(dog =>{ %>

            <div class="card">
                <h4><%= dog.name %></h4>
                <h4><%= dog.desc %></h4>
                <h4><%= dog.email %></h4>
                <img src="./images/1.jpg" alt="">
            </div>

        <% }) %>
        <% } else { %>
            <p> sorry no dogs</p>
        <% } %>
    </div>
</div>
<%- include('./partials/footer.ejs') %>

</body>
</html>
