<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>


<body>
<%- include('./partials/nav.ejs') %>


<div class="container">

    <% if (dogs.length > 0) { %>

    <div class="row ">
        <% dogs.forEach(dog =>{ %>
            <a href="/dogs/<%= dog._id %> ">
                <div class="card">
                    <h4><%= dog.name %></h4>
                    <p><%= dog.age %></p>
                    <p><%= dog.sex %></p>
                    <p><%= dog.pedigree %></p>
                    <div><%= dog.desc.slice(0, 40) %> <a href="/dogs/<%= dog._id %> ">...</a></div>
                    <p><%= dog.email %></p>
                    <img src="./images/1.jpg" alt="">
                </div>
            </a>
        <% }) %>
        <% } else { %>
            <p> sorry no dogs</p>
        <% } %>
    </div>
</div>
<%- include('./partials/footer.ejs') %>
</body>
</html>
