<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
<%- include('./partials/head.ejs') %>

<%- include('./partials/nav.ejs') %>

<p>home page</p>
<% if (dogs.length > 0) { %>

    <% dogs.forEach(dog =>{ %>
        <h4><%= dog.title %></h4>
        <p><%= dog.desc %></p>
    <% }) %>
<% } else { %>

    <p> sorry no dogs</p>
<% } %>

<%- include('./partials/footer.ejs') %>

</body>
</html>
