<!doctype html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<!--todo problema css-->
<style>
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    nav {
        background: #ccc;
        display: flex;
        justify-content: space-around;
        align-content: center;
        padding: 1rem 0;
        top: 0;
        position: relative;
    }

    nav a {
        color: #fff;
        text-decoration: none;
    }
</style>

<body>

<%- include('./partials/nav.ejs') %>


<div class="container">
    <h2><%= dog.name %></h2>
    <div>
        <p><%= dog.desc %></p>
        <a class="delete" href="#" data-doc="<%= dog._id %>">delete</a>
    </div>
</div>

<%- include('./partials/footer.ejs') %>

<script>
	const trashcan = document.querySelector('a.delete');
	trashcan.addEventListener('click', (e) => {
		// legatura intre data-doc
		const endpoint = `/dogs/${trashcan.dataset.doc}`;
		fetch(endpoint, {
			method: 'DELETE',
		})
			.then(response => response.json())
			// unde il trimit
			.then(data => window.location.href = data.redirect)
			.catch(err => console.log(err));
	});
</script>

</body>
</html>